.item-container {
    width: 100%;
    height: calc(100vh - 80px); /* restas la altura del header */
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: black;
}
/*
.item-container::after { 
    margin-top: 80px;
    content: "";
    position: absolute;
    inset: 0;                         ocupa todo el contenedor 
    background-color: rgba(0, 0, 0, 0.7);  negro con 50% de opacidad 
    pointer-events: none;             deja pasar clics
}
*/
.item-data {
    display: flex;
    justify-content: center;
    z-index: 100;
    overflow-y: auto;
    width: 100%;
    gap: 50px;
    height: calc(100vh - 80px);
}
.item-data::after { 
    margin-top: 80px;
    content: "";
    position: absolute;
    inset: 0;                         
    background-color: rgba(0, 0, 0, 0.7);  
    pointer-events: none;             
}
.item-data__img {
    z-index: 30;
    width: 220px;
    height: auto;
    padding: 30px 0 0 50px;
}
.item-data__img img {
    width: 220px;
    height: auto;
    z-index: 100;
    border-radius: 5px;
    z-index: 100;
}
.item-data__info {
    width: 100%;
    height: 1000px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    position: relative;
    z-index: 10;
    padding: 30px 100px 0 30px;

}
.item-data__info::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(to right, rgba(0,0,0,10) 20%, transparent);

}
.item-data::-webkit-scrollbar {
    display: none;
}

.item-data__info h1 {
    font-size: 40px;
    z-index: 10;
}
.container-detail {
    display: flex;
    gap: 20px;
    z-index: 10;
}

.item-data__info a {
    width: 130px;
    color: black;
    background-color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    z-index: 80;
}
.item-data__info em, .item-data__info p {
    z-index: 99;
}
.container-episodes {
    gap: 10px;
    display: flex;
    overflow-y: auto;
    z-index: 999;
    height: 70px;
    margin-bottom: 20px;
}
.container-episodes::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;
}
.container-episodes::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.ok-boton {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    z-index: 10;
}
.episode-button {
    width: 70px;
    height: 50px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    flex-shrink: 0;
}
.logo-titulo {
    z-index: 199;
}
.logo-titulo img {
    width: 300px;    
    z-index: 200;
}

.item-data__video {
    z-index: 0;
    width: 100%;
    padding: 20px 0 20px 0;
}